#title {
    font-size: 50px;
}

a:hover {
    background-color: lightblue;
    transition: 0.2s;
}

div {
    margin: 10px;
    border: 5px solid black;
    padding: 10px;
}

.NorthAmerica {
    background: lightblue;
}

.Europe {
    background: lightgoldenrodyellow;
}

.Asia {
    background: lightpink;
}